{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Forum</h1>
    <br>
    <h2>Welcome to the Healthy Food forum.</h2>
    <br>
    <br>
    {% for entry in entries %}
        <div class="forum-entry-card">
            <a class="type-label btn btn-colour-bg" href="{% url 'forum' %}?entry_type={{ entry.entry_type }}">{{ entry.entry_type.get_friendly_name }}</a>
            <a href="{% url 'entry_detail' entry.slug %}" class="forum-entry-link">
                <h3 class="entry-heading"><strong>{{ entry.title }}</strong></h3>   
                <hr>
                <p class="entry-date text-muted">{{ entry.create_date }}</p>
            </a>
        </div>
    {% endfor %}
{% endblock %}