
{% extends "base.html" %}
{% load static %}


{% block content%}
<div class='container mb-5 d-flex flex-column center'>
    <div class="container ">
        <h1 class="about-title"><strong>About us</strong></h1>
    </div>

    <div>
        <h1 class="about-title">
            Why is it important to cook healthy food?
        </h1>
        <h3>
            Preparing healthy meals can support your immune system and reduce the risk of illnesses such as heart disease, 
            cancer, high blood pressure, and diabetes. It can give you more energy, improve how you sleep at night, 
            and help you better manage health problems.
        </h3>
    </div>

    <div>
        <h1 class="about-title">
            What does healthy food mean?
        </h1>
        <h3>
            Healthy food is food that gives you all the nutrients you need to stay healthy, feel well and have plenty of energy.
            The best way to ensure you're eating healthily is to eat a wide variety of different kinds of food.
        </h3>
    </div>

    <div>
        <h1 class="about-title">Contact Us</h1>
        <h3>
            Please get in touch with us for your order or general product information.
        </h3>
    </div>

    <div class="row d-flex justify-content-between">
        <div>
            <br>
            <h1>
                How to reach us:
            </h1>
            <h3 class="">
                Healthy food<br>
                Healty Lane<br>
                Food<br>
                TGY 856<br>
                healthyfood@healthy.com<br>
                000 000 000
            </h3>
        </div>
        <div class=" ">
            <br>
            <h1>
                Working Hour's:
            </h1>
            <h3>
                Monday: 8:00 - 16.00<br>
                Tuesday: 8:00 - 16.00<br>
                Wednesday: 8:00 - 16.00<br>
                Thursday: 8:00 - 16.00<br>
                Friday: 8:00 - 16.00<br>
                Saturday: 8:00 - 16.00<br>
                Sunday: 8:00 - 16.00<br>
            </h3>
        </div>
    </div>
</div>



{% endblock %}