{% extends "base.html" %}
{% load static %}

{% block content %}

<img src="https://images.pexels.com/photos/3763847/pexels-photo-3763847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="main-page-food" class="hero-img">

<main>
    <div class=" container main-page-text col-12">
        <h1>Welcome to the Healthy Food restaurant</h1>
        <h3>We are cooking and delivering 100% healty and natural food to your home when ever you order it online.
            You don't need to do anything else you just choose what you want and we do all the rest (cook the food and deliver to you home).
        </h3>
    </div>
    <br>
    <br>
    <ul class= "order-cook-deliver">
        <li class="col-3">
            <i class="fa-solid fa-list font-icon"></i>
            <h6>You order</h6>
        </li>
        <li class="col-3">
            <i class="fa-solid fa-utensils font-icon"></i>
            <h6>We cook the food</h6>
        </li>
        <li class="col-3">
            <i class="fa-solid fa-truck font-icon"></i>
            <h6>We deliver it to your door</h6>
        </li>
    </ul>
    <br>
    <br>
    <div class="col-12 center">
        <a href="#" class="btn btn-order col-2">Start Ordering Now</a>
    </div>
</main>
{% endblock %}