{% extends "base.html" %}
{% load static %}

{% block content %}

    <h1>Shopping Basket</h1>
        <div class="float-end my-5">
            {% if basket_items %}
                <div class="table-responsive">
                    <table class="table table-borderles">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in basket_items %}

                        <tr>
                            <td class="w-25">
                                <img class="basket-img" src="{{ item.product.image.url }}">
                                
                            </td>
                            <td>{{ item.product.price }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price }}</td>
                            <td>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}"
                                            id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        
                                    </div>
                                </div>
                                <a class="update-link text-info"><small>Update</small></a>
                                <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                            </td>
                        </tr>

                        {% endfor %}

                        <tr>
                            <td>Basket Total: £ {{ total | floatformat:2 }}</td>
                            <td>Delivery Cost: £ {{ delivery | floatformat:2 }}</td>
                            <td>Grand Total: £ {{ grand_total | floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'categories' %}" class="btn btn-white-bg">
                                    Keep Shopping
                                </a>
                                <a href="#" class="btn btn-colour-bg mx-0">
                                    Go to Checkout
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p class="mt-5">Your basket is empty.</p>
                <a href="{% url 'categories' %}" class="btn btn-colour-bg align-self-start">
                    Back to products
                </a>
            {% endif%}
        </div>



{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'basket/includes/quantity_input_script.html' %}

<script>

    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });

        // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    });

</script>

{% endblock %}