html {
    height: 100%;
}

/* nav bar */
.logo {
    font-size: 3rem;
}

.top-info {
    font-size: 1.2rem;
}

.nav-link {
    color: #000;
    font-size: 1.3rem;
}



.top-header {
    margin: 1.2em;
}

span {
    margin: 1rem;
}


/*main-img*/

.hero-img {
    width: 100%;
    position: relative;
    height: 600px;
}

.main-page-text {
    text-align: center;
    width: 80%;
}

.order-cook-deliver {
    flex-direction: row;
    list-style:none;
    display: flex;
    width: 90%;
    margin-left: 7rem;
}

.font-icon {
    font-size: 5rem;
}

h6 {
    font-size: 1.3rem;
}

/* Order btn */
.btn-order {
    background-color: #6495ED;
    font-size: 1.3rem;
}

.center {
    text-align: center;
}

.category-img {
    width: 300px; 
    height: 300px;
}

.category-card {
    
    text-align: center;
    border: solid 2px;
    width: fit-content;
    
}

.category-link-title {
    
    margin: 0;
    text-align: center;
}

.product-card {
    text-align: center;
    
    width: fit-content;
}

.product-link-title {
    font-size: 1.1rem;
    text-align: center;
    
}


.product-img,
.category-img,
.basket-img {
    
    width: 180px; 
    height: 180px;
}

.detail-img {
    width: 25%; 
    height: 25%;
}

.about-title {
    margin-top: 25px;
    margin-bottom: 15px;
}

.detail-list {
    font-size: 1.3rem;
    width: 75%;
    
}

.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999;
}

.btn-colour-bg {
    border: 2px solid;
    background-color: #1E90FF;
}

.btn-white-bg {
    background-color: #F8F8FF;
    border: 2px solid;
}

.btn-colour-bg:hover,
.btn-white-bg:hover {
    background-color: #7CFC00;
}

@media (max-width: 320px) {
    .order-cook-deliver {
        justify-content: unset;
        flex-direction: column; 
        margin: 0;
    }
    .category-container,
    .card-container {
        flex-direction: column;
    }
    .category-card {
        margin-left: 55px;
    }
    .card-container {
        flex-direction: row;
    }
    .product-card,
    .category-card {
        margin-bottom: 30px;
    }
    .select {
        width: 100%;
    }
}