html {
    height: 100%;
}

.logo {
    font-size: 3rem;
}

.top-info {
    font-size: 1.2rem;
}

.center-nav {
    margin: auto;
    width: 50%;
    font-size: 1.1rem;
}

.nav-link {
    color: #000;
    font-size: 1.3rem;
}

ul {
    gap: 10rem;
}

.top-header {
    margin: 1.2em;
}

span {
    margin: 1rem;
}