html {
    height: 100%;
}

/* nav bar */
.logo {
    font-size: 3rem;
}

.top-info {
    font-size: 1.2rem;
}

.nav-link {
    color: #000;
    font-size: 1.3rem;
}

ul {
    gap: 10rem;
}

.top-header {
    margin: 1.2em;
}

span {
    margin: 1rem;
}


/*main-img*/

.hero-img {
    width: 100%;
    position: relative;
    height: 600px;
}

.main-page-text {
    text-align: center;
    width: 80%;
}

.order-cook-deliver {
    flex-direction: row;
    list-style:none;
    display: flex;
    width: 90%;
    margin-left: 7rem;
}

.font-icon {
    font-size: 5rem;
}

h6 {
    font-size: 1.3rem;
}

/* Order btn */
.btn-order {
    background-color: #6495ED;
    font-size: 1.3rem;
}

.center {
    text-align: center;
}

.category-img {
    max-width: 60%;
}

.category-card {
    
    text-align: center;
    border: solid 2px;
    width: fit-content;
    
}

.category-link-title {
    
    margin: 0;
    text-align: center;
}

.product-card {
    text-align: center;
    
    width: fit-content;
}

.product-link-title {
    font-size: 1.1rem;
    text-align: center;
    
}

.product-link {
    
}

.product-img {
    width: 50%;
}

