{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock%}

    {% block extra_meta %}
    {% endblock %}

    {% block corejs%}
      <!-- Stripe -->
      <script src="https://js.stripe.com/v3/"></script>
      <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    {% block corecss%}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
        
        
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <title>Healthy Food</title>
  </head>
  <body>
    <!-- Begning of the page header -->
    <header class="fixed top">
      <div class="top-header d-flex justify-content-between align-items-center">
        <div>
          <a class="navbar-brand logo" href="{% url 'home' %}">Healty Food</a>
        </div>
        <div class="top-info">
          <span>healthyfood@healthy.com</span>
				  <span> 000 000 000</span>
        </div>
      </div>

      <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-primary">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav"></div>
              <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categories' %}">Food</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About Us</a>
                </li>

                {% if request.user.is_authenticated %}

                  <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                  </li>
                {% else %}

                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                  </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_basket' %}"><iconify-icon inline icon="fluent-emoji-high-contrast:basket" style="color: black;"></iconify-icon> Basket 
                      {% if basket_items %}
                        <span class="basket-items-count">&#40;{{ request.session.basket.keys | length }}&#41;</span>
                      {% endif %}
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      
    </header>


    {%if messages %}
      <div class="message-container">
        {% for message in messages %}
          {% with message.level as level %}
            {% if level == 40 %}
              {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
              {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
              {% include 'includes/toasts/toast_success.html' %}
            {% else%}
              {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
          {% endwith %}
        {% endfor %}
            
      </div>
	  {% endif %}


    <!-- Body content -->
    {% block content %}
    {% endblock %}

    <!-- page footer-->
    <footer>
      
    </footer>



    {% block postloadjs %}

    <script>
      // Bootstrap boilerplate JS for toast handling
      let toast = bootstrap.Toast.getOrCreateInstance(document.querySelector('.toast'));
      toast.show(); 
    
    </script>

    {% endblock %}
  </body>
</html>