{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<br>
<div class="container-fluid">
    
        <div class="d-flex justify-content-around category-container">
            {% for category in categories %}
                <div class="category-card">
                    <a href="{% url 'products' %}?category={{ category.name }}" class="">
                        <img class="category-img" src="{{ category.image.url }}" alt="{{ category.name }}">
                        <h2 class="category-link-title">{{ category.name }}</h2>
                    </a>
                </div>
            {% endfor %}
        </div>
    
</div>










{% endblock %}