{% extends "base.html" %}
{% load static %}


{% block content %}
    <h1>Product Management</h1>

    <h2 class="border-bottom">Edit product</h2>



    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="mt-5">
                        <a class="btn btn-white-bg" href="{% url 'categories' %}">
                            Cancel
                        </a>
                        <button class="btn btn-colour-bg" type="submit">
                            Update Product
                        </button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>


{% endblock %}
