{% extends "base.html" %}
{% load static %}

{% block content %}

<a href="{% url 'products' %}?category={{ product.category }}">Back to {{ product.category }}</a>
<h1 class="center">{{ product.name }}</h1>

<div class="detail-container">
    <div class="center">
        {% if product.image %}
            <img class="detail-img px-1" src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
            <img class="detail-img px-1" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
        {% endif %}

        <!-- admin user product edit options -->
        {% if request.user.is_superuser %}
            <small>
                <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                <a class="text-danger" href="{% url 'delete_product' product.id %}" id="delete-confirm-link-p">Delete</a>
            </small>
        {% endif %}
    </div>

    <div class="detail-info col-12">
        <ul class="detail-list">
            <li class="detail-list_item"><strong>Description:  </strong>{{ product.description }}</li>
            <li class="detail-list_item"><strong>Ingredients:  </strong>{{ product.ingredients }}</li>
            <li class="detail-list_item"><strong>Price:  </strong>£ {{ product.price }}</li>
        </ul>

        <!-- Form to add items to basket -->
        <form class="form my-4" action="{% url 'add_to_basket' product.id %}" method="POST">
        {% csrf_token %}
           
            <div class="form-group">
                <div class="input-group align-items-center">
                    <label class="px-3" for="id_qty_{{ product.id }}"><strong>Quantity:</strong></label>
                    <div class="input-group-prepend">
                        <button class="decrement-qty btn m-1" 
                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                            <b>
                                -
                            </b>
                        </button>
                    </div>
                    <input class="form-control qty_input rounded col-2" type="number"
                        name="quantity" value="1" min="1" max="99"
                        data-item_id="{{ product.id }}"
                        id="id_qty_{{ product.id }}">
                    <div class="input-group-append">
                        <button class="increment-qty btn m-1"
                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                            <b>
                                +
                            </b>
                        </button>
                    </div>
                </div>
            </div>
            <div class="input-group mt-3">
                <a href="{% url 'categories' %}" class="btn btn-white-bg rounded">
                    Browse more
                </a>
                <input type="submit" class="btn btn-colour-bg rounded" value="Add to Basket">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">  
            </div>
         
        </form>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
