{% extends "base.html" %}
{% load static %}

{% block content %}

<a href="{% url 'categories' %}">Back to All Products</a>

<h1>{{ current_category }}</h1>

{% if current_category == "Meat-Free"%}
    <p>Meat-Free</p>

{% elif current_category == "With-Meat" %}
    <p>With-Meat</p>

{% elif current_category == "Low-Calories" %}
    <p>Low-Calories</p>

{% endif %}

<div class="container-fluid">
    <div class="row d-flex justify-content-around card-container">
        {% for product in products%}
            <div class="product-card mb-5">
                <a href="{% url 'product_detail' product.id %}" class="product-link mb-1">
                    {% if product.image %}
                        <img class="product-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img class="product-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                    <h2 class="product-link-title">{{ product.name }}</h2>
                </a>
            </div>
        {% endfor %}
   </div>
</div>

{% endblock %}