{% extends "base.html" %}
{% load static %}

{% block content %}

<a href="{% url 'categories' %}">Back to All Products</a>

<h1>{{ current_category }}</h1>

<div class="container-fluid">
    <div class="row d-flex justify-content-around card-container">
        {% for product in products%}
            <div class="product-card">
                <a href="{% url 'product_detail' product.id %}" class="product-link mb-5">
                    {% if product.image %}
                        <img class="product-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img class="product-img " src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                    <h2 class="product-link-title">{{ product.name }}</h2>
                </a>
            </div>
        {% endfor %}
   </div>
</div>

{% endblock %}